<div class="container">
	<div class="footer container">
		<div class="row">
			<div class="large-4 columns">
				<h6>
					The New School University
				</h6>
				<a href="mailto:info@stemcellcurriculum.org">info@stemcellcurriculum.org</a>
				<p>
					Last updated: 08.04.2013
					<br>
					&copy; Stem Cell Across The Curriculum 
				</p>
			</div>{{! .large-4 columns }}
			<div class="large-4 columns">
				<h6>
					Supported By:
				</h6>
				<p>
					Empire State Stem Cell Fund  through New York State Department of Health
					Contract #C026077
				</p>
				<p>
					Science Education for New Civic Engagements and Responsibilities
				</p>
				<ul class="footer-logos">
					<li><img class="logo" src="../../img/footer-include/scac.png" alt="Stem Cells Across Curriculum"></li>
					<li><img class="logo" src="../../img/footer-include/nystem.png" alt="NYStem"></li>
					<li><img class="logo sencer" src="../../img/footer-include/sencer.png" alt="Sencer"></li>
					<li><img class="logo" src="../../img/footer-include/tns.png" alt="The New School"></li>	
				</ul>{{! .footer-logos }}
			</div>{{! .large-4 columns }}
			<div class="large-4 columns">
				<p class="fine-print">
					Opinions expressed here are solely those of the authors and do not necessarily reflect those of the Empire State Stem Cell Board, the New York State Department of Health, or the State of New York.
				</p>{{! .fine-print }}
				<p class="fine-print">
					<img class="logo cc" src="../../img/footer-include/cc.png" alt="Creative Commons">
					All content published are copyrighted under Creative Commons except for ....
				</p>{{! .fine-print }}
			</div>{{! .large-4 columns }}
		</div>{{! .row }}
	</div>{{! .footer container }}
</div>