<section class="container logo-menu-wrapper">
	<div class="contain-to-grid sticky">
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name">
					<a href="#">
						<h1 class="logo">
							SCAC
						</h1>
					</a>
				</li>{{! .name }}
				<li class="toggle-topbar menu-icon">
					<a href="#">
						<span>Menu</span>
					</a>
				</li>{{! .toggle-topbar menu-icon }}
			</ul>{{! .title-area }}
			<section class="top-bar-section">
				<ul class="right">
					<li class="divider"></li>
					<li class="has-dropdown"><a href="#">Who and What</a>
						<ul class="dropdown">
							<li class="has-dropdown"><a href="./development-team.html">Development Team</a>
								<ul class="dropdown dev-team">
									<li><a href="#">Faculty</a></li>
									<li><a href="#">Student Research Assistants</a></li>
								</ul><!-- .dropdown -->
							</li><!--.has-dropdown -->
							<li><a href="#">Pedagogies and Philosophies</a></li>
							<li><a href="#">Adopters and Institutions (gallery)</a></li>
							<li><a href="#">Presentations and Publications</a></li>
						</ul><!-- .dropdown -->
					</li><!-- .has-dropdown -->
					<li class="divider"></li>
					<li><a href="#">Curriculum and Cases</a></li>
					<li class="divider"></li>
					<li class="has-dropdown"><a href="#">Infographics and Media</a>
						<ul class="dropdown">
							<li class="has-dropdown"><a href="#">Dropdown Level 1a</a>
								<ul class="dropdown">
									<li><a href="#">Dropdown Level 2a</a></li>
									<li><a href="#">Dropdown Level 2b</a></li>
									<li class="has-dropdown">
										<ul class="dropdown">
											<li><label>Dropdown Level 3 Label</label></li>
											<li><a href="#">Dropdown Level 3a</a></li>
											<li><a href="#">Dropdown Level 3b</a></li>
											<li class="divider"></li>
											<li><a href="#">Dropdown Level 3c</a></li>
										</ul><!-- .dropdown -->
									</li><!-- .has-dropdown -->
									<li><a href="#">Dropdown Level 2d</a></li>
									<li><a href="#">Dropdown Level 2e</a></li>
									<li><a href="#">Dropdown Level 2f</a></li>
								</ul><!-- .dropdown -->
							</li><!-- .has-dropdown -->
							<li><a href="#">Dropdown Level 1b</a></li>
							<li><a href="#">Dropdown Level 1c</a></li>
							<li class="divider"></li>
							<li><a href="#">Dropdown Level 1d</a></li>
							<li><a href="#">Dropdown Level 1e</a></li>
							<li><a href="#">Dropdown Level 1f</a></li>
							<li class="divider"></li>
							<li><a href="#">See all &rarr;</a></li>
						</ul><!-- .dropdown -->
					</li><!-- .has-dropdown -->
					<li class="divider"></li>
				</ul><!-- .left -->
			</section><!-- .top-bar-section -->
		</nav><!-- .topbar -->
	</div><!-- .contain-to-grid sticky -->
</section><!-- .container -->