<section class="top-bar title-social">
	<div class="row">
		<div class="large-12 columns">
			<h1 class="site-title">
				Stem Cell Across The Curriculum
			</h1>{{! .site-title }}
			<h2 class="funded-by">
				Funded by NYStem
			</h2>{{! .site-title }}
			<ul class="social-icons">
				<li aria-hidden="true" class="icon-twitter">
					<a href="#" target="_blank"></a>
				</li>{{! .icon-twitter }}
				<li aria-hidden="true" class="icon-feed">
					<a href="#" target="_blank"></a>
				</li>{{! .icon-feed }}
			</ul>{{! .social icons }}	 
		</div>{{! .large-12 columns }}
	</div>{{! .row }}
</section>{{! .top-bar }}	