<div class="row slider-wrapper">
	<div class="slides">
	{{#posts}}
       <img src="{{custom_fields.wpcf-slide}}" 
       		alt="{{custom_fields.wpcf-slide-description}}">
	{{/posts}}	
	</div><!-- .slides -->
	<ul class="next-prev">
		<li class="slidesjs-previous slidesjs-navigation icon-angle-left" aria-hidden="true"></li>
		<li class="slidesjs-next slidesjs-navigation icon-angle-right" aria-hidden="true"></li>
	</ul><!-- .slides-control -->
</div><!-- .row slider-wrapper -->
<div class="container bottom-green-banner">
	<div class="row slides-control">
		<div class="large-12 columns">
			<ul class="next-prev">
				<li class="slidesjs-previous slidesjs-navigation icon-angle-left" aria-hidden="true"></li>
				<li class="slidesjs-next slidesjs-navigation icon-angle-right" aria-hidden="true"></li>
			</ul><!-- .slides-control -->
		
			<!-- template here -->
		
		
		</div><!-- .large-12 columns -->
	</div><!-- .row -->
	<div class="row">
		<div class="large-12 columns">
			<h1 class="rotating-subtitle">
				Making Biology
				<span class="bold italic rotating">
					Relevant.
				</span>
			</h1>
		</div><!-- .large-12 columns -->
	</div><!-- .row -->
</div>
<div class="container">
	<div class="row homepage-bottom">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-8 columns">
					<p class="quote">
						“We are not students of some subject matter, but students of problems. And problems may cut 
	right across the borders of any subject matter or discipline”
					</p><!-- .quote -->
				</div><!-- .large-8 columns -->
				<div class="large-4 columns">
					<p class="byline">
						--Popper, K. R. Conjectures and Refutations: The Growth of Scientific Knowledge, 1963.
					</p><!-- .byline -->
				</div><!-- .large-4 -->
			</div><!-- .row -->
		</div><!-- .large-12 columns -->
		<div class="large-4 columns">
			<h3>Who &amp; What</h3>
			<p>
				<span class="bold">Learn</span> more about the development, implementation, and assessment of a collection of educational resources developed by an interdisciplinary team of scholars, activists, and designers seeking to integrate the biological, ethical, legal, and social  dimensions of stem cell research using a social justice framework.
			</p>
		</div><!-- .large-4 columns -->
		<div class="large-4 columns">
			<h3>Curriculum &amp; Cases</h3>
			<p>
				<span class="bold">Explore</span> our interdisciplinary modular curriculum, which is customizable for learning environments ranging from high school to graduate school. Syllabi, curricular modules, slide sets, learning activities, annotated biographies, concept maps, and cases studies are accessible for review.
			</p>
		</div><!-- .large-4 columns -->
		<div class="large-4 columns">
			<h3>Infographics &amp; Media</h3>
			<p>
				<span class="bold">Incorporate</span> infographics, artworks, video, and theatrical productions that highlight trends, cross disciplinary boundaries, and provoke questioning of normative assumptions associated with biomedical research. 
			</p>
		</div><!-- .large-4 columns homepage-bottom -->
	</div><!-- .row -->
</div>

